In [3]:
def my_fun(arg1, arg2):
    print("hello from my very first function")

In [4]:
my_fun()

hello from my very first function

In [11]:
def my_fun(name, surname):
    print("hello " + name + " "+ surname)

In [21]:
my_fun("Dayal","harsh")

hello Dayal harsh

# Arbitrary Arguments,(*args)

In [19]:
def my_fun2(*cars):
    print("the newest car is "+ cars[3])

In [20]:
my_fun2("Tiago","nexin","brezza","harrier","tigor","verna","thar")

the newest car is harrier

# Keyword Arguments (kwargs)

In [22]:
def my_func(stud1,stud2,stud3):
    print("The tallest student is "+ stud3)

In [25]:
my_func( stud3="shivam" ,stud1="Harsh", stud2="komal")

The tallest student is shivam

# Arbitrary Keyword Arguments (**kwargs)

In [28]:
def my_func1(**cars):
    print("cars Manufacturer name is " + cars["mname"])

In [29]:
my_func1(cname="Nexon",mname="TATA")

cars Manufacturer name is TATA

# Default Parameter value

In [36]:
def my_fu(planet="Pluto"):
    print("I am from "+ planet)

In [37]:
my_fu("Mars")
my_fu("Venus")
my_fu("Jupiter")
my_fu()

I am from Mars
I am from Venus
I am from Jupiter
I am from Pluto

# Passing list as an Argument

In [38]:
def my_funct1(bikes):
    for x in bikes:
        print(x)

bike=["Pulsar","Intruder","KTM","Glamour","Xblade","Apache"]
my_funct1(bike)

# Lambda

### Syntax
lambda expression: expression

In [40]:
string = "HEllo KIET"
print(lambda string : string)

<function <lambda> at 0x000001BF1FB66C80>

In [41]:
z=" Hello from KIET GZB"
(lambda z : print(z)) (z)

 Hello from KIET GZB

In [43]:
def square(a):
    return a*a
lambda_sqr= lambda a: a*a

print(square(7))
print(lambda_sqr(7))

49
49

In [44]:
Max= lambda a,b : x if(a>b) else b
print(Max(2,5))

5

# Modules

In [ ]:
def greet(name):
    print("Hello "+ name)

In [47]:
import datetime

a=datetime.datetime.now()
print(a.year)

2021

In [48]:
x=datetime.datetime(2021,9,3)
print(x)

2021-09-03 00:00:00

In [49]:
x=min(2,3,4)

In [50]:

x=abs(-7.27)
print(x)

7.27

In [51]:
x=pow(4,3)
print(x)

64

In [53]:
import math
x=math.sqrt(64)
print(x)

8.0

In [54]:
import math
x=math.ceil(1.7)
y=math.floor(1.7)
print(x)
print(y)

2
1

In [55]:
import math
x= dir(math)
print(x)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
-p